src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get" doc:id="ed124125-9426-4e45-a69c-472109ec4ead" >
		<salesforce:query-all doc:name="Query all" doc:id="2f72a34e-e05a-428d-b0a3-41aa293130d5" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT pid__c, Name, HealthCloudGA__Age__pc, HealthCloudGA__Gender__pc, Phone, BillingAddress FROM Account]]></salesforce:salesforce-query>
		</salesforce:query-all>
		<ee:transform doc:name="Transform Message" doc:id="7699b8c8-a53a-40f0-bfad-79199f3113c1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	pid: payload.pid__c,
	Name: payload.Name,
	Gender: payload.gender,
	Age: payload.age,
	Email: payload.email__c,
	Phone: payload.Phone,
	Address: payload.BillingAddress 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1a6dc7a8-c1d2-4bf0-bc25-18985dfbe70d" />
	</flow>
	<flow name="getById" doc:id="cf12b474-7c86-4def-956a-c78b6be2ad5c" >
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="02944dfd-96c1-4e2f-a0c8-abe43cfcd5c7" variableName="pid"/>
		<salesforce:query doc:name="Query" doc:id="f8b837b9-f9c3-4551-86dd-e8d0ee799354" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT pid__c, Name, HealthCloudGA__Age__pc, HealthCloudGA__Gender__pc, Phone, BillingAddress FROM Account
WHERE pid__c = ':pid']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"pid" : vars.pid
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="4227f4cb-fa76-4822-89a3-89448582fe03" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	pid: payload.pid__c,
	Name: payload.Name,
	Gender: payload.gender,
	Age: payload.age,
	Email: payload.email__c,
	Phone: payload.Phone,
	Address: payload.BillingAddress 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="811567c1-c950-4eb6-a34b-22976762fe44" />
	</flow>
	<flow name="post" doc:id="f6e1a5c8-01e8-4c7a-af49-faaf51e16c4d" >
		<ee:transform doc:name="Transform Message" doc:id="352a2656-a2ea-498d-be8c-8f915813ad73" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	pid__c: payload.id,
	Name: payload.name[0].use ++ " " ++ payload.name[0].family,
	gender__c: payload.gender,
	age__c: payload.age,
	email__c: payload.email,
	Phone: payload.telecom[0].value,
	BillingCity: payload.address[0].city,
	BillingState: payload.address[0].state,
	BillingPostalCode: payload.address[0].postalCode
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert doc:name="Upsert" doc:id="708a2105-60a5-4c54-9321-d5454d0c1905" config-ref="Salesforce_Config" objectType="Account" externalIdFieldName="Id"/>
		<ee:transform doc:name="Transform Message" doc:id="c054a6b8-ffc6-4299-bab8-968c75a5ddc8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Record is Created/Updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dd65612e-2256-4b27-b4d3-7cf768599312" />
	</flow>
</mule>
