src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getById" doc:id="c9484409-2888-4250-96ea-1c6307f6c74c" >
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="221f30ed-54a6-4d86-9d1e-6feaf2862680" variableName="pid"/>
		<salesforce:query doc:name="Query" doc:id="5d599326-6694-4ef1-80a8-35b8d09ab85d" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT pid__c, Name, HealthCloudGA__Age__pc, HealthCloudGA__Gender__pc, Phone, BillingAddress FROM Account
WHERE pid__c = ':pid']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"pid" : vars.pid
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="0797a8af-28fc-4c3b-afa6-824610e366eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	pid: payload.pid__c,
	Name: payload.Name,
	Gender: payload.gender,
	Age: payload.age,
	Email: payload.email__c,
	Phone: payload.Phone,
	Address: payload.BillingAddress 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dc3a0916-d313-41de-9b29-ea3bdf0e2784" />
	</flow>
	<flow name="post" doc:id="bf86b1bc-8675-40f6-8766-6f31a59ef498" >
		<ee:transform doc:name="Transform Message" doc:id="f52a378a-0a72-44e5-803b-c05f43414aad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	pid__c: payload.id,
	Name: payload.name[0].use ++ " " ++ payload.name[0].family,
	gender__c: payload.gender,
	age__c: payload.age,
	email__c: payload.email,
	Phone: payload.telecom[0].value,
	BillingCity: payload.address[0].city,
	BillingState: payload.address[0].state,
	BillingPostalCode: payload.address[0].postalCode
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert objectType="Account" externalIdFieldName="Id" doc:name="Upsert" doc:id="09c8c703-b7d1-4c3c-bf2f-5fc5bd2a5c5e" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="7453e0ed-0264-4800-befd-9720f1478dd6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="586e20f7-bf00-4bf3-83e2-1b543d66925d" />
	</flow>
</mule>
